$breakpoint-bigscreen: 4000px;
$breakpoint-mobile: 799px;
@font-face {
   font-family: 'Circular Std';
   src: url(/fonts/CircularStdBook.woff) format('woff'),
        url(/fonts/CircularStdBook.woff2) format('woff2'),
}
@font-face {
   font-family: 'Roboto Slab';
   src: url(/fonts/RobotoSlabThin.tff) format('tff')
}
// Desktop
@media (min-width: 1200px) and (max-width: $breakpoint-bigscreen) {
   .frame14 {
      display: flex;
      flex-direction: column;
      padding: 0px;
      position: absolute;
      width: 1440px;
      height: 3012px;
      left: 0px;
      top: 104px;
   }
   .frame13 {
      /* Auto Layout */
      display: flex;
      flex-direction: row;
      padding: 0px;
      position: static;
      width: 307px;
      height: 24px;
      left: calc(50% - 307px/2);
      top: calc(50% - 24px/2 - 1494px);

      /* Inside Auto Layout */
      flex: none;
      order: 0;
      align-self: center;
      margin: 0px 48px;
   }
   .teft {
      position: static;
      width: 34px;
      height: 24px;
      left: 0px;
      top: 0px;

      /* Navigasjon desktop */
      font-family: 'Circular Std';
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      /* identical to box height, or 120% */
      /* Main */
      color: #8500D7;
      /* Inside Auto Layout */
      flex: none;
      order: 0;
      align-self: center;
      margin: 8px 0px;
   }
   .forwardFirst {
      position: static;
      left: 42px;
      top: 0px;
      /* Inside Auto Layout */
      flex: none;
      order: 1;
      align-self: center;
      margin: 8px 10px;
   }
   .purpleCircles {
      position: static;
      width: 127px;
      height: 24px;
      left: 180px;
      top: 0px;
      /* Navigasjon desktop */
      font-family: 'Circular Std';
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      /* identical to box height, or 120% */
      /* Black */
      color: #262626;
      /* Inside Auto Layout */
      flex: none;
      order: 4;
      align-self: center;
      margin: 8px 0px;
   }
   .forwardSecond {
      position: static;
      left: 148px;
      top: 0px;
      /* Inside Auto Layout */
      flex: none;
      order: 3;
      align-self: center;
      margin: 8px 10px;
   }
   .circlesHome {
      position: static;
      width: 66px;
      height: 24px;
      left: 74px;
      top: 0px;
      /* Navigasjon desktop */
      font-family: 'Circular Std';
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      /* identical to box height, or 120% */
      /* Main */
      color: #8500D7;
      /* Inside Auto Layout */
      flex: none;
      order: 2;
      align-self: center;
      margin: 8px 0px;
   }
   .pageHeader {
      position: static;
      width: 1200px;
      height: 64px;
      left: 120px;
      top: 72px;
      /* H1 desktop */
      font-family: 'Circular Std';
      font-style: normal;
      font-weight: 500;
      font-size: 56px;
      line-height: 64px;
      /* identical to box height, or 114% */
      text-align: center;
      /* Black */
      color: #262626;
      /* Inside Auto Layout */
      flex: none;
      order: 1;
      align-self: center;
      margin: 50px 48px;
   }
   .purpleAssociated {
      position: static;
      width: 1200px;
      height: 80px;
      left: 120px;
      top: 184px;
      /* Ingress desktop */
      font-family: 'Circular Std';
      font-style: italic;
      font-weight: normal;
      font-size: 32px;
      line-height: 40px;
      /* or 125% */
      text-align: center;
      /* Black */
      color: #262626;
      /* Inside Auto Layout */
      flex: none;
      order: 2;
      align-self: center;
      margin: 0px 48px;
   }
   .frame28 {
      display: flex;
      flex-direction: row;
      padding: 0px;
      position: static;
      width: 576px;
      height: 88px;
      left: 432px;
      top: 312px;
      /* Inside Auto Layout */
      flex: none;
      order: 3;
      align-self: center;
      margin: 80px 48px;
   }
   .frame26 {
      display: flex;
      flex-direction: column;
      padding: 0px;
      position: static;
      width: 472px;
      height: 88px;
      left: 104px;
      top: 0px;
      /* Inside Auto Layout */
      flex: none;
      order: 1;
      align-self: center;
      margin: 16px 8px;
   }
   
   .janeDoe { 
      position: static;
      width: 88px;
      height: 88px;
      left: 0px;
      top: 0px;
      border-radius: 800px;
      /* Inside Auto Layout */
      flex: none;
      order: 0;
      align-self: center;
      margin: 16px 0px;
   }
   .janeDoeName {
      position: static;
      width: 85px;
      height: 32px;
      left: 0px;
      top: 0px;
      /* Paragraph desktop */
      font-family: 'Circular Std';
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 32px;
      /* identical to box height, or 160% */
      /* Main */
      color: #8500D7;
      /* Inside Auto Layout */
      flex: none;
      order: 0;
      align-self: flex-start;
      margin: 0px 14px;
   }
   .metatekstDesktop {
      position: static;
      width: 445px;
      height: 16px;
      left: 0px;
      top: 40px;
      /* Metatekst desktop */
      font-family: 'Circular Std';
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      /* identical to box height, or 133% */
      /* Black */
      color: #262626;
      /* Inside Auto Layout */
      flex: none;
      order: 1;
      align-self: center;
      margin: 8px 20px;
   }
   .frame27 {
      display: flex;
      flex-direction: row;
      padding: 0px;
      position: static;
      width: 104px;
      height: 24px;
      left: 0px;
      top: 64px;
      /* Inside Auto Layout */
      flex: none;
      order: 2;
      align-self: flex-start;
      margin: 10px 8px;
   }
   .twitter {
      position: static;
      width: 18px;
      height: 18px;
      left: 0px;
      top: 0px;
      /* Inside Auto Layout */
      flex: none;
      order: 0;
      align-self: center;
      margin: 16px 10px;
   }
   .instagram {
      position: static;
      width: 18px;
      height: 18px;
      left: 40px;
      top: 0px;
      /* Inside Auto Layout */
      flex: none;
      order: 1;
      align-self: center;
      margin: 16px 10px;
   }
   .facebook {
      position: static;
      width: 18px;
      height: 18px;
      left: 80px;
      top: 0px;
      /* Inside Auto Layout */
      flex: none;
      order: 2;
      align-self: center;
      margin: 16px 10px;
   }
   .purpleParagraph {
      position: static;
      width: 568px;
      height: 160px;
      left: 436px;
      top: 448px;
      /* Paragraph desktop */
      font-family: 'Circular Std';
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 32px;
      /* or 160% */
      /* Black */
      color: #262626;
      /* Inside Auto Layout */
      flex: none;
      order: 4;
      align-self: center;
      margin: 0px 48px;
   }
   .frame17 {
      display: flex;
      flex-direction: column;
      padding: 0px;
      position: static;
      width: 1200px;
      height: 616px;
      left: 0px;
      top: 656px;
      /* Inside Auto Layout */
      flex: none;
      order: 5;
      align-self: flex-start;
      margin: 0px 48px;
   }
   .group470 {
      position: static;
      width: 1200px;
      height: 560px;
      left: 0px;
      top: 0px;
      /* Inside Auto Layout */
      flex: none;
      order: 0;
      align-self: center;
      margin: 0px 24px;
   }
   .frame16 {
      display: flex;
      flex-direction: row;
      // padding: 48px;
      position: absolute;
      width: 600px;
      height: 160px;
      left: 0px;
      top: 900px;
      /* White */
      background: #FFFFFF;
      box-shadow: 0px 4px 8px rgba(145, 158, 167, 0.32);
      border-radius: 8px 0px 0px 8px;
      z-index: 1;
   }
   .frame16Paragraph {
      position: static;
      width: 504px;
      height: 64px;
      left: 48px;
      top: 48px;
      /* Sitat desktop */
      font-family: 'Roboto Slab';
      font-style: thin;
      font-weight: 300;
      font-size: 24px;
      line-height: 32px;
      /* or 133% */
      text-align: center;
      /* Secondary */
      color: #FF007A;
      /* Inside Auto Layout */
      flex: none;
      order: 0;
      align-self: center;
      margin: 10px 0px;
   }
   .ocean1 {
      position: absolute;
      width: 888px;
      height: 560px;
      left: 312px;
      top: 800px;
      border-radius: 0px 8px 8px 0px;
   }
   .optics {
      position: static;
      width: 568px;
      height: 32px;
      left: 316px;
      top: 584px;
      /* Metatekst desktop */
      font-family: 'CircularStdBook';
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      /* or 133% */
      /* Black */
      color: #262626;
      /* Inside Auto Layout */
      flex: none;
      order: 1;
      align-self: center;
      margin: 0px 24px;
   }
}









// ---------------------------------------------------------------------


// Mobile
@media (min-width: 200px) and (max-width: $breakpoint-mobile) {

}