$breakpoint-bigscreen: 4000px;
$breakpoint-mobile: 799px;
@font-face {
   font-family: 'Circular Std';
   src: url(/fonts/CircularStdBook.woff) format('woff'),
        url(/fonts/CircularStdBook.woff2) format('woff2'),
}
// @font-face {
//    font-family: 'Roboto Slab';
//    src: url(/fonts/RobotoSlabThin.tff) format('tff')
// }
// Desktop
@media (min-width: 800px) and (max-width: $breakpoint-bigscreen) {
   .frame14 {
      display: flex;
      flex-direction: column;
      padding: 0px;
      position: absolute;
      width: 1440px;
      height: 3012px;
      left: 0px;
      top: 104px;
   }
   .frame13 {
      display: flex;
      flex-direction: row;
      padding: 0px;
      position: static;
      width: 307px;
      height: 24px;
      left: calc(50% - 307px/2);
      top: calc(50% - 24px/2 - 1494px);

      /* Inside Auto Layout */
      flex: none;
      order: 0;
      align-self: center;
      margin: 0px 48px;
   }
   .teft {
      position: static;
      width: 34px;
      height: 24px;
      left: 0px;
      top: 0px;

      /* Navigasjon desktop */
      font-family: 'Circular Std';
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      /* identical to box height, or 120% */

      /* Main */
      color: #8500D7;

      /* Inside Auto Layout */
      flex: none;
      order: 0;
      align-self: center;
      margin: 8px 0px;
   }
   .firstForward {
      position: static;
      width: 12px;
      height: 12px;
      left: 42px;
      top: 0px;
      /* Inside Auto Layout */
      flex: none;
      order: 1;
      align-self: center;
      margin: 8px 8px;
   }
   .circles {
      position: static;
      width: 66px;
      height: 24px;
      left: 74px;
      top: 0px;
      /* Navigasjon desktop */
      font-family: 'Circular Std';
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      /* identical to box height, or 120% */
      /* Main */
      color: #8500D7;
      /* Inside Auto Layout */
      flex: none;
      order: 2;
      align-self: center;
      margin: 8px 0px;
   }
   .secondForward {
      position: static;
      width: 12px;
      height: 12px;
      left: 148px;
      top: 0px;
      /* Inside Auto Layout */
      flex: none;
      order: 3;
      align-self: center;
      margin: 8px 8px;
   }
   .purpleCircles {
      position: static;
      width: 127px;
      height: 24px;
      left: 180px;
      top: 0px;

      /* Navigasjon desktop */
      font-family: 'Circular Std';
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      /* identical to box height, or 120% */
      /* Black */
      color: #262626;

      /* Inside Auto Layout */
      flex: none;
      order: 4;
      align-self: center;
      margin: 8px 0px;
   }
   .pageHeader {
      position: static;
      width: 1200px;
      height: 64px;
      left: 120px;
      top: 72px;
      /* H1 desktop */
      font-family: 'Circular Std';
      font-style: normal;
      font-weight: 600;
      font-size: 56px;
      line-height: 64px;
      /* identical to box height, or 114% */
      text-align: center;
      /* Black */
      color: #262626;
      /* Inside Auto Layout */
      flex: none;
      order: 1;
      align-self: center;
      margin: 0px 48px;
      margin-top: 47px !important;
   }
   .purpleAssociated {
      position: static;
      width: 1200px;
      height: 80px;
      left: 120px;
      top: 184px;
      /* Ingress desktop */
      font-family: 'Circular Std';
      font-style: italic;
      font-weight: normal;
      font-size: 32px;
      line-height: 40px;
      /* or 125% */
      text-align: center;
      /* Black */
      color: #262626;
      /* Inside Auto Layout */
      flex: none;
      order: 2;
      align-self: center;
      margin: 65px 48px;
   }
   .frame28 {
      display: flex;
      flex-direction: row;
      padding: 0px;
      position: static;
      width: 576px;
      height: 88px;
      left: 432px;
      top: 312px;
      /* Inside Auto Layout */
      flex: none;
      order: 3;
      align-self: center;
      margin: 0px 48px;
   }
   .janeDoeProfile {
      position: static;
      width: 88px;
      height: 88px;
      left: 0px;
      top: 0px;
      border-radius: 800px;
      /* Inside Auto Layout */
      flex: none;
      order: 0;
      align-self: center;
      margin: 16px 0px;
   }
   .frame26 {
      display: flex;
      flex-direction: column;
      padding: 0px;
      position: static;
      width: 472px;
      height: 88px;
      left: 104px;
      top: 0px;
      /* Inside Auto Layout */
      flex: none;
      order: 1;
      align-self: center;
      margin: 16px 16px;
   }
   .janeDoe {
      position: static;
      width: 85px;
      height: 32px;
      left: 0px;
      top: 0px;
      /* Paragraph desktop */
      font-family: 'Circular Std';
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 32px;
      /* identical to box height, or 160% */
      /* Main */
      color: #8500D7;
      /* Inside Auto Layout */
      flex: none;
      order: 0;
      align-self: flex-start;
      margin: 0px 8px;
   }
   .projectManager {
      position: static;
      width: 472px;
      height: 16px;
      left: 0px;
      top: 40px;
      /* Metatekst desktop */
      font-family: 'Circular Std';
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      /* identical to box height, or 133% */
      /* Black */
      color: #262626;
      /* Inside Auto Layout */
      flex: none;
      order: 1;
      align-self: flex-start;
      margin: 11px 8px;
   }
   .frame27 {
      display: flex;
      flex-direction: row;
      padding: 0px;

      position: static;
      width: 104px;
      height: 24px;
      left: 0px;
      top: 64px;
      /* Inside Auto Layout */
      flex: none;
      order: 2;
      align-self: flex-start;
      margin: 0px 8px;
   }
   .twitter {
      position: static;
      width: 16px;
      height: 16px;
      left: 0px;
      top: 0px;
      /* Inside Auto Layout */
      flex: none;
      order: 0;
      align-self: center;
      margin-right: 12px;
   }
   .instagram {
      position: static;
      width: 16px;
      height: 16px;
      left: 40px;
      top: 0px;
      /* Inside Auto Layout */
      flex: none;
      order: 1;
      align-self: center;
      margin: 0px 12px;
   }
   .facebook {
      position: static;
      width: 16px;
      height: 16px;
      left: 80px;
      top: 0px;
      /* Inside Auto Layout */
      flex: none;
      order: 2;
      align-self: center;
      margin: 0px 12px;
   }
   .frame17 {
      /* Auto Layout */
      display: flex;
      flex-direction: column;
      padding: 0px;
      position: static;
      width: 1200px;
      height: 616px;
      left: 432px;
      top: 656px;
      /* Inside Auto Layout */
      flex: none;
      order: 5;
      align-self: center;
      margin: 0px 48px;
   }
   .purpleParagraph {
      position: static;
      width: 568px;
      height: 160px;
      left: 436px;
      top: 448px;
      /* Paragraph desktop */
      font-family: 'Circular Std';
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 32px;
      /* or 160% */
      /* Black */
      color: #262626;
      /* Inside Auto Layout */
      flex: none;
      order: 4;
      align-self: center;
      margin: 0px 48px;
      margin-top: 50px;
   }
   .group470 {
      position: absolute;
      width: 1200px;
      height: 560px;
      left: 0px;
      top: 688px;
      /* Inside Auto Layout */
      flex: none;
      order: 0;
      align-self: center;
      margin: 0px 24px;
   }
   .ocean1 {
      position: absolute;
      width: 888px;
      height: 560px;
      left: 240px;
      top: 0px;
      border-radius: 0px 8px 8px 0px;
   }
   .frame16 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 0px;
      position: absolute;
      width: 600px;
      height: 160px;
      left: -24px;
      top: 184px;
      z-index: 1;
      /* White */
      background: #FFFFFF;
      box-shadow: 0px 4px 8px rgba(145, 158, 167, 0.32);
      border-radius: 8px 0px 0px 8px;
   }
   .sitatDesktop {
      position: static;
      width: 504px;
      height: 64px;
      left: 48px;
      top: 48px;
      /* Sitat desktop */
      font-family: 'Roboto Slab';
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 32px;
      /* or 133% */
      text-align: center;
      /* Secondary */
      color: #FF007A;
      /* Inside Auto Layout */
      flex: none;
      order: 0;
      align-self: center;
      margin: 10px 0px;
   }
   .optics {
      position: absolute;
      width: 568px;
      height: 32px;
      left: 245px;
      top: 1275px;
      /* Metatekst desktop */
      font-family: 'Circular Std';
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      /* or 133% */
      /* Black */
      color: #262626;
      /* Inside Auto Layout */
      flex: none;
      order: 1;
      align-self: center;
      margin: 0px 24px;
   }
   .humans {
      position: absolute;
      width: 568px;
      height: 128px;
      left: 390px;
      top: 1320px;
      /* Paragraph desktop */
      font-family: 'Circular Std';
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 32px;
      /* or 160% */
      /* Black */
      color: #262626;
      /* Inside Auto Layout */
      flex: none;
      order: 6;
      align-self: center;
      margin: 0px 48px;
   }
   .frame21 {
      /* Auto Layout */
      display: flex;
      flex-direction: column;
      padding: 0px;
      position: absolute;
      width: 568px;
      height: 224px;
      left: 390px;
      top: 1496px;
      /* Inside Auto Layout */
      flex: none;
      order: 7;
      align-self: center;
      margin: 0px 48px;
   }
   .asResult {
      position: static;
      width: 568px;
      height: 40px;
      left: 0px;
      top: 0px;
      /* H2 desktop */
      font-family: 'Circular Std';
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 40px;
      /* identical to box height, or 125% */
      /* Black */
      color: #262626;
      /* Inside Auto Layout */
      flex: none;
      order: 0;
      align-self: center;
      margin: 22px 24px;
   }
   .asResultParagraph {
      position: static;
      width: 568px;
      height: 160px;
      left: 0px;
      top: 64px;
      /* Paragraph desktop */
      font-family: 'Circular Std';
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 32px;
      /* or 160% */
      /* Black */
      color: #262626;
      /* Inside Auto Layout */
      flex: none;
      order: 1;
      align-self: center;
      margin: 10px 24px;
   }
   .frame25 {
      display: flex;
      flex-direction: column;
      padding: 48px;
      position: absolute;
      width: 1440px;
      height: 524px;
      left: 0px;
      top: 1768px;
      /* Inside Auto Layout */
      flex: none;
      order: 8;
      align-self: center;
      margin: 0px 48px;
   }
   .frame20 {
      display: flex;
      flex-direction: row;
      padding: 0px;
      position: static;
      width: 1440px;
      height: 428px;
      left: 48px;
      top: 48px;
      /* Inside Auto Layout */
      flex: none;
      order: 0;
      align-self: center;
      margin: 0px 48px;
   }
   .leftVector {
      position: static;
      width: 24px;
      height: 24px;
      left: 0px;
      top: 202px;
      /* Inside Auto Layout */
      flex: none;
      order: 0;
      align-self: center;
      margin: 48px 0px;
   }
   .frame18 {
      display: flex;
      flex-direction: column;
      padding: 0px;
      position: static;
      width: 368px;
      height: 428px;
      left: 72px;
      top: 0px;
      /* Inside Auto Layout */
      flex: none;
      order: 1;
      align-self: center;
      margin: 48px 15px;
   }
   .stor1 {
      position: static;
      width: 264px;
      height: 264px;
      left: 52px;
      top: 0px;
      /* Inside Auto Layout */
      flex: none;
      order: 0;
      align-self: center;
      margin: 0px 12px;
   }
   .frame23 {
      display: flex;
      flex-direction: row;
      padding: 0px;
      position: static;
      width: 332px;
      height: 40px;
      left: 0px;
      top: 276px;
      /* Inside Auto Layout */
      flex: none;
      order: 1;
      align-self: flex-start;
      margin: 0px 12px;
   }
   .headerFrame23 {
      position: static;
      width: 332px;
      height: 40px;
      left: 0px;
      top: 0px;
      /* H2 desktop */
      font-family: 'Circular Std';
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 40px;
      /* identical to box height, or 125% */
      /* Main */
      color: #8500D7;
      /* Inside Auto Layout */
      flex: none;
      order: 1;
      align-self: flex-start;
      margin: 12px 0px;
   }
   .subFrame18 {
      position: static;
      width: 82px;
      height: 16px;
      left: 0px;
      top: 328px;
      /* Metatekst desktop */
      font-family: 'Circular Std';
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      /* identical to box height, or 133% */
      /* dark grey */
      color: #707070;
      /* Inside Auto Layout */
      flex: none;
      order: 2;
      align-self: flex-start;
      margin: 20px 12px;
   }
   .paragraphFrame18 {
      position: static;
      width: 368px;
      height: 72px;
      left: 0px;
      top: 356px;
      /* Korttekster desktop */
      font-family: 'Circular Std';
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      /* or 150% */
      /* Black */
      color: #262626;
      /* Inside Auto Layout */
      flex: none;
      order: 3;
      align-self: flex-start;
      margin: 0px 12px;
   }
   .frame19 {
      display: flex;
      flex-direction: column;
      padding: 0px;
      position: static;
      width: 368px;
      height: 428px;
      left: 488px;
      top: 0px;
      /* Inside Auto Layout */
      flex: none;
      order: 2;
      align-self: center;
      margin: 48px 15px;
   }
   .stor2 {
      position: static;
      width: 264px;
      height: 264px;
      left: 52px;
      top: 0px;
      /* Inside Auto Layout */
      flex: none;
      order: 0;
      align-self: center;
      margin: 0px 12px;
   }
   .frame20b {
      display: flex;
      flex-direction: column;
      padding: 0px;
      position: static;
      width: 368px;
      height: 428px;
      left: 904px;
      top: 0px;
      /* Inside Auto Layout */
      flex: none;
      order: 3;
      align-self: center;
      margin: 48px 15px;
   }
   .rightVector {
      position: static;
      width: 24px;
      height: 24px;
      left: 1320px;
      top: 202px;
      /* Inside Auto Layout */
      flex: none;
      order: 4;
      align-self: center;
      margin: 48px 0px;
   }
   .frame29Desktop {
      display: flex;
      flex-direction: column;
      padding: 0px;
      position: absolute;
      width: 568px;
      height: 128px;
      left: 416px;
      top: 2340px;
      /* Inside Auto Layout */
      flex: none;
      order: 9;
      align-self: center;
      margin: 0px 48px;
   }
   .Teft {
      position: static;
      width: 568px;
      height: 40px;
      left: 0px;
      top: 0px;
      /* H2 desktop */
      font-family: 'Circular Std';
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 40px;
      /* identical to box height, or 125% */
      /* Black */
      color: #262626;
      /* Inside Auto Layout */
      flex: none;
      order: 0;
      align-self: center;
      margin: 0px 24px;
   }
   .teftParagraph {
      position: static;
      width: 568px;
      height: 64px;
      left: 0px;
      top: 64px;
      /* Paragraph desktop */
      font-family: 'Circular Std';
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 32px;
      /* or 160% */
      /* Black */
      color: #262626;
      /* Inside Auto Layout */
      flex: none;
      order: 1;
      align-self: center;
      margin: 20px 24px;
   }
   .btnTeft {
      display: flex;
      flex-direction: row;
      padding: 12px 24px;
      position: absolute;
      width: 121px;
      height: 48px;
      left: 640px;
      top: 2516px;
      /* White */
      background: #FFFFFF;
      /* Main */
      border: 2px solid #8500D7;
      box-sizing: border-box;
      border-radius: 8px;
      /* Inside Auto Layout */
      flex: none;
      order: 10;
      align-self: center;
      margin: 0px 48px;
   }
   .whyTeft {
      position: static;
      width: 73px;
      height: 24px;
      left: 24px;
      top: 12px;
      font-family: Circular Std;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height, or 150% */
      /* Black */
      color: #262626;
      /* Inside Auto Layout */
      flex: none;
      order: 0;
      align-self: center;
      margin: 0px 0px;
   }
   
}









// ---------------------------------------------------------------------


// Mobile
@media (min-width: 200px) and (max-width: $breakpoint-mobile) {
   .frame14 {
      display: none;
   }
   .frame14Mobile {
      display: flex;
      flex-direction: column;
      padding: 0px;

      position: absolute;
      width: 416px;
      height: 1382px;
      left: 0px;
      top: 110px;
   }
   .frame13Mobile {
      display: flex;
      flex-direction: row;
      padding: 0px;
      position: static;
      width: 261px;
      height: 24px;
      left: calc(50% - 261px/2);
      top: calc(50% - 24px/2 - 679px);
      /* Inside Auto Layout */
      flex: none;
      order: 0;
      align-self: center;
      margin: 0px 48px;
      margin-left: 100px;
   }
   .teftMobile {
      position: static;
      width: 27px;
      height: 24px;
      left: 0px;
      top: 0px;
      /* Navigasjon mobil */
      font-family: 'Circular Std';
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height, or 150% */
      /* Main */
      color: #8500D7;
      /* Inside Auto Layout */
      flex: none;
      order: 0;
      align-self: center;
      margin: 8px 5px;
   }
   .forwardMobileFirst {
      position: static;
      width: 12px;
      height: 12px;
      left: 35px;
      top: 0px;
      /* Inside Auto Layout */
      flex: none;
      order: 1;
      align-self: center;
      margin: 8px 5px;
   }
   .circlesMobile {
      position: static;
      width: 53px;
      height: 24px;
      left: 67px;
      top: 0px;
      /* Navigasjon mobil */
      font-family: 'Circular Std';
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height, or 150% */
      /* Main */
      color: #8500D7;
      /* Inside Auto Layout */
      flex: none;
      order: 2;
      align-self: center;
      margin: 8px 5px;
   }
   .forwardMobileSecond {
      position: static;
      width: 12px;
      height: 12px;
      left: 128px;
      top: 0px;
      /* Inside Auto Layout */
      flex: none;
      order: 3;
      align-self: center;
      margin: 8px 5px;
   }
   .purpleCirclesMobile {
      position: static;
      width: 101px;
      height: 24px;
      left: 160px;
      top: 0px;
      /* Navigasjon mobil */
      font-family: 'Circular Std';
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height, or 150% */
      /* Black */
      color: #262626;
      /* Inside Auto Layout */
      flex: none;
      order: 4;
      align-self: center;
      margin: 8px 5px;
   }
}