
$breakpoint-bigscreen: 4000px;
$breakpoint-mobile: 799px;
@font-face {
    font-family: 'CircularStdBook';
    src: url(/fonts/CircularStdBook.woff) format('woff'),
         url(/fonts/CircularStdBook.woff2) format('woff2'),
    }
// Desktop
@media (min-width: 1200px) and (max-width: $breakpoint-bigscreen) {
    .header {
        position: absolute;
        width: 1440px;
        height: 72px;
        left: 0px;
        top: 0px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(145, 158, 167, 0.25);
    }
    .subMenu {
        display: flex;
        flex-direction: row;
        padding: 0px;
        justify-content: space-evenly;
        position: absolute;
        width: 501px;
        height: 40px;
        left: 120px;
        top: 24px;
    }
    .logo {
       
        left: 0%;
        right: 80.82%;
        top: 12.23%;
        bottom: 7.35%;
    }
    .circles {
        position: static;
        width: 66px;
        height: 24px;
        left: 147px;
        top: 8px;

        /* Navigasjon desktop */

        font-family: 'CircularStdBook';
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        /* identical to box height, or 120% */
        /* Black */
        color: #262626;

        /* Inside Auto Layout */
        flex: none;
        order: 1;
        align-self: center;
        margin: 64px 0px;
    }
    .squares {
        position: static;
        width: 75px;
        height: 24px;
        left: 277px;
        top: 8px;

        /* Navigasjon desktop */
        font-family: 'CircularStdBook';
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        /* identical to box height, or 120% */
        /* Black */
        color: #262626;
        /* Inside Auto Layout */
        flex: none;
        order: 2;
        align-self: center;
        margin: 64px 0px;
    }
    .triangles {
        position: static;
        width: 85px;
        height: 24px;
        left: 416px;
        top: 8px;

        /* Navigasjon desktop */
        font-family: 'CircularStdBook';
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        /* identical to box height, or 120% */

        /* Black */
        color: #262626;

        /* Inside Auto Layout */
        flex: none;
        order: 3;
        align-self: center;
        margin: 64px 0px;
    }
    .searchBox {
        display: flex;
        flex-direction: row;
        padding: 0px;
        
        position: absolute;
        width: 97px;
        height: 24px;
        right: 120px;
        top: 24px;        
    }
    .searchText {
        position: static;
        width: 65px;
        height: 24px;
        left: 0px;
        top: 0px;

        /* Navigasjon desktop */
        font-family: 'CircularStdBook';
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        /* identical to box height, or 120% */

        /* Black */
        color: #262626;

        /* Inside Auto Layout */
        flex: none;
        order: 0;
        align-self: center;
        margin: 8px 0px;
    }
    .searchVector {
        position: absolute;
        left: 75%;
        // right: 13.56%;
        top: 13.56%;
        bottom: 13.56%;

    }
}





// -----------------------------------------------------------------------------

// Mobile
@media (min-width: 200px) and (max-width: $breakpoint-mobile) {
    .header {
        display: none;
    }

    .headerMobile {
        position: absolute;
        width: 416px;
        height: 72px;
        left: 0px;
        top: 0px;
    }
    .rectangleMobile {
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        /* White */
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(145, 158, 167, 0.25);
    }
    .hamburgerMobile {
        position: absolute;
        left: 12.5%;
        right: 12.5%;
        top: 25%;
        bottom: 25%;
    }
    .logoHeaderMobile {
        position: absolute;
        width: 66.4px;
        height: 32px;
        left: 175px;
        top: 10px;
    }
    .searchHeaderMobile {
        position: absolute;
        width: 24px;
        height: 24px;
        left: 368px;
        top: 16px;
    }
}