$breakpoint-bigscreen: 4000px;
$breakpoint-mobile: 799px;
@font-face {
    font-family: 'Circular Std';
    src: url(/fonts/CircularStdBook.woff) format('woff'),
         url(/fonts/CircularStdBook.woff2) format('woff2'),
 }


// Desktop
@media (min-width: 800px) and (max-width: $breakpoint-bigscreen) {
    .frame33Footer {
        display: none;
    }
    .footerDesktop {
        display: flex;
        flex-direction: column;
        padding: 0px 0px;
        padding-top: 48px;
        position: absolute;
        width: 1440px;
        height: 400px;
        left: -48px;
        top: 2532px;
        /* White */
        background: #FFFFFF;
        box-shadow: 4px 0px 4px rgba(145, 158, 167, 0.25);
        /* Inside Auto Layout */
        flex: none;
        order: 11;
        align-self: center;
        margin: 0px 48px;
        margin-top: 185px;
    }
    .logoFooter {
        position: static;
        width: 83px;
        height: 40px;
        left: 120px;
        top: 48px;
        /* Inside Auto Layout */
        flex: none;
        order: 0;
        align-self: flex-start;
        margin: 0px 140px;
        margin-bottom: 55px;
    }
    .frame31footerA {
        display: flex;
        flex-direction: row;
        padding: 0px;
        position: static;
        width: 1200px;
        height: 216px;
        left: 120px;
        top: 136px;
        /* Inside Auto Layout */
        flex: none;
        order: 1;
        align-self: center;
        margin: 0px 48px;
    }
    .frame29Footer {
        display: flex;
        flex-direction: column;
        padding: 0px;
        position: static;
        width: 368px;
        height: 216px;
        left: 0px;
        top: 0px;
        /* Inside Auto Layout */
        flex: none;
        order: 0;
        align-self: center;
        margin: 48px 0px;
    }
    .dekodeAS {
        position: static;
        width: 368px;
        height: 16px;
        left: 0px;
        top: 0px;
        /* Metatekst desktop */
        font-family: 'Circular Std';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        /* identical to box height, or 133% */
        /* Black */
        color: #262626;
        /* Inside Auto Layout */
        flex: none;
        order: 0;
        align-self: flex-start;
        margin: 15px 24px;
    }
    .telefonFooter {
        position: static;
        width: 368px;
        height: 16px;
        left: 0px;
        top: 40px;
        /* Metatekst desktop */
        font-family: 'Circular Std';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        /* identical to box height, or 133% */
        /* Black */
        color: #262626;
        /* Inside Auto Layout */
        flex: none;
        order: 1;
        align-self: flex-start;
        margin: 15px 24px;
    }
    .epostFooter {
        position: static;
        width: 368px;
        height: 16px;
        left: 0px;
        top: 80px;
        /* Metatekst desktop */
        font-family: 'Circular Std';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        /* identical to box height, or 133% */
        /* Black */
        color: #262626;
        /* Inside Auto Layout */
        flex: none;
        order: 2;
        align-self: flex-start;
        margin: 15px 24px;
        margin-bottom: 53px;
    }
    .adresseFooter {
        position: static;
        width: 368px;
        height: 16px;
        left: 0px;
        top: 160px;
        /* Metatekst desktop */
        font-family: 'Circular Std';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        /* identical to box height, or 133% */
        /* Black */
        color: #262626;
        /* Inside Auto Layout */
        flex: none;
        order: 4;
        align-self: flex-start;
        margin: 25px 24px;
    }
    .postBoksFooter {
        position: static;
        width: 368px;
        height: 16px;
        left: 0px;
        top: 200px;
        /* Metatekst desktop */
        font-family: 'Circular Std';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        /* identical to box height, or 133% */
        /* Black */
        color: #262626;
        /* Inside Auto Layout */
        flex: none;
        order: 5;
        align-self: flex-start;
        margin: 0px 24px;
    }
    .frame30Footer {
        display: flex;
        flex-direction: column;
        padding: 0px;
        position: static;
        width: 368px;
        height: 176px;
        left: 416px;
        top: 0px;
        /* Inside Auto Layout */
        flex: none;
        order: 1;
        align-self: flex-start;
        margin: 0px 55px;
    }
    .tjenester {
        position: static;
        width: 368px;
        height: 16px;
        left: 0px;
        top: 0px;
        font-family: 'Circular Std';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        /* identical to box height, or 133% */
        text-decoration-line: underline;
        /* Main */
        color: #8500D7;
        /* Inside Auto Layout */
        flex: none;
        order: 0;
        align-self: flex-start;
        margin: 12.5px 24px;
        cursor: pointer;
    }
    .produkterFooter {
        position: static;
        width: 368px;
        height: 16px;
        left: 0px;
        top: 40px;
        font-family: 'Circular Std';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        /* identical to box height, or 133% */
        text-decoration-line: underline;
        /* Main */
        color: #8500D7;
        /* Inside Auto Layout */
        flex: none;
        order: 1;
        align-self: flex-start;
        margin: 12.5px 24px;
        cursor: pointer;
    }
    .kontaktFooter {
        position: static;
        width: 368px;
        height: 16px;
        left: 0px;
        top: 80px;
        font-family: 'Circular Std';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        /* identical to box height, or 133% */
        text-decoration-line: underline;
        /* Main */
        color: #8500D7;
        /* Inside Auto Layout */
        flex: none;
        order: 2;
        align-self: flex-start;
        margin: 12.5px 24px;
        cursor: pointer;
    }
    .abonnementFooter {
        position: static;
        width: 368px;
        height: 16px;
        left: 0px;
        top: 120px;
        font-family: 'Circular Std';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        /* identical to box height, or 133% */
        text-decoration-line: underline;
        /* Main */
        color: #8500D7;
        /* Inside Auto Layout */
        flex: none;
        order: 3;
        align-self: flex-start;
        margin: 12.5px 24px;
        cursor: pointer;
    }
    .logInnFooter {
        position: static;
        width: 368px;
        height: 16px;
        left: 0px;
        top: 160px;
        font-family: 'Circular Std';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        /* identical to box height, or 133% */
        text-decoration-line: underline;
        /* Main */
        color: #8500D7;
        /* Inside Auto Layout */
        flex: none;
        order: 4;
        align-self: flex-start;
        margin: 12.5px 24px;
        cursor: pointer;
    }
    .frame31FooterB {
        display: flex;
        flex-direction: column;
        padding: 0px;
        position: static;
        width: 368px;
        height: 184px;
        left: 832px;
        top: 0px;
        /* Inside Auto Layout */
        flex: none;
        order: 2;
        align-self: flex-start;
        margin: 0px 0px;
        
    }
    .personvernFooter {
        position: static;
        width: 368px;
        height: 16px;
        left: 0px;
        top: 0px;
        font-family: 'Circular Std';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        /* identical to box height, or 133% */
        text-decoration-line: underline;
        /* Main */
        color: #8500D7;
        /* Inside Auto Layout */
        flex: none;
        order: 0;
        align-self: flex-start;
        margin: 15px 24px;
        cursor: pointer;
    }
    .cookiesFooter {
        position: static;
        width: 368px;
        height: 16px;
        left: 0px;
        top: 40px;
        font-family: 'Circular Std';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        /* identical to box height, or 133% */
        text-decoration-line: underline;
        /* Main */
        color: #8500D7;
        /* Inside Auto Layout */
        flex: none;
        order: 1;
        align-self: flex-start;
        margin: 15px 24px;
        cursor: pointer;
    }
    .languageFooter {
        position: static;
        width: 368px;
        height: 16px;
        left: 0px;
        top: 80px;
        font-family: 'Circular Std';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        /* identical to box height, or 133% */
        text-decoration-line: underline;
        /* Main */
        color: #8500D7;
        /* Inside Auto Layout */
        flex: none;
        order: 2;
        align-self: flex-start;
        margin: 15px 24px;
        cursor: pointer;
    }
    .frame27Footer {
        display: flex;
        flex-direction: row;
        padding: 0px;
        position: static;
        width: 104px;
        height: 24px;
        left: 0px;
        top: 160px;
        /* Inside Auto Layout */
        flex: none;
        order: 4;
        align-self: flex-start;
        margin: 0px 14px;
        margin-top: 50px;
    }
    .twitterFooter {
        position: static;
        width: 16px;
        height: 16px;
        left: 0px;
        top: 0px;
        /* Inside Auto Layout */
        flex: none;
        order: 0;
        align-self: center;
        margin: 16px 12.5px;
        cursor: pointer;
    }
    .instagramFooter {
        position: static;
        width: 16px;
        height: 16px;
        left: 40px;
        top: 0px;
        /* Inside Auto Layout */
        flex: none;
        order: 1;
        align-self: center;
        margin: 16px 12.5px;
        cursor: pointer;
    }
    .facebookFooter {
        position: static;
        width: 16px;
        height: 16px;
        left: 80px;
        top: 0px;
        /* Inside Auto Layout */
        flex: none;
        order: 2;
        align-self: center;
        margin: 16px 12.5px;
        cursor: pointer;
    }
}

// Mobile
@media (min-width: 200px) and (max-width: $breakpoint-mobile) {
    .footerDesktop {
        display: none;
    }
    .frame33Footer {
        display: flex;
        flex-direction: column;
        padding: 48px 24px;
        position: absolute;
        width: 416px;
        height: 832px;
        left: -48px;
        top: 2332px;
        /* White */
        background: #FFFFFF;
        box-shadow: 4px 0px 4px rgba(145, 158, 167, 0.25);
        /* Inside Auto Layout */
        flex: none;
        order: 11;
        align-self: flex-start;
        margin: 0px 48px;
     }
     .logoFooterMobile {
        position: absolute;
        width: 83px;
        height: 40px;
        left: 0px;
        top: 48px;
        /* Inside Auto Layout */
        flex: none;
        order: 0;
        align-self: flex-start;
        margin: 0px 48px;
     }
     .frame31FooterMobile {
        display: flex;
        flex-direction: column;
        padding: 0px;
        position: absolute;
        width: 368px;
        height: 648px;
        left: 0px;
        top: 136px;
        /* Inside Auto Layout */
        flex: none;
        order: 1;
        align-self: flex-end;
        margin: 0px 24px;
     }
     .frame29FooterMobile {
        display: flex;
        flex-direction: column;
        padding: 0px;
        position: static;
        width: 368px;
        height: 216px;
        left: 0px;
        top: 0px;
        /* Inside Auto Layout */
        flex: none;
        order: 0;
        align-self: center;
        margin: 0px 48px;
     }
     .frame30FooterMobile {
         /* Auto Layout */
        display: flex;
        flex-direction: column;
        padding: 0px;
        position: absolute;
        width: 368px;
        height: 384px;
        left: 0px;
        top: 300px;
        /* Inside Auto Layout */
        flex: none;
        order: 1;
        align-self: flex-start;
        margin: 0px 0px;
     }
     .dekodeASFooterMobile {
        position: static;
        width: 368px;
        height: 16px;
        left: 0px;
        top: 0px;
        /* Metatekst desktop */
        font-family: 'Circular Std';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        /* identical to box height, or 133% */
        /* Black */
        color: #262626;
        /* Inside Auto Layout */
        flex: none;
        order: 0;
        align-self: flex-start;
        margin: 15px 24px;
     }
     .telefonFooterMobile {
        position: static;
        width: 368px;
        height: 16px;
        left: 0px;
        top: 40px;
        /* Metatekst desktop */
        font-family: 'Circular Std';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        /* identical to box height, or 133% */
        /* Black */
        color: #262626;
        /* Inside Auto Layout */
        flex: none;
        order: 1;
        align-self: flex-start;
        margin: 15px 24px;
     }
     .epostFooterMobile {
        position: static;
        width: 368px;
        height: 16px;
        left: 0px;
        top: 80px;
        /* Metatekst desktop */
        font-family: 'Circular Std';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        /* identical to box height, or 133% */
        /* Black */
        color: #262626;
        /* Inside Auto Layout */
        flex: none;
        order: 2;
        align-self: flex-start;
        margin: 15px 24px;
     }
     .adresseFooterMobile {   
        position: static;
        width: 368px;
        height: 16px;
        left: 0px;
        top: 160px;
        /* Metatekst desktop */
        font-family: 'Circular Std';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        /* identical to box height, or 133% */
        /* Black */
        color: #262626;
        /* Inside Auto Layout */
        flex: none;
        order: 4;
        align-self: flex-start;
        margin: 0px 24px;
        margin-top: 55px;
     }
     .postBoksFooterMobile {
        position: static;
        width: 368px;
        height: 16px;
        left: 0px;
        top: 200px;
        /* Metatekst desktop */
        font-family: 'Circular Std';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        /* identical to box height, or 133% */
        /* Black */
        color: #262626;
        /* Inside Auto Layout */
        flex: none;
        order: 5;
        align-self: flex-start;
        margin: 0px 24px;
        margin-top: 30px;
     }
     .tjenesterFooterMobile {
        position: static;
        width: 368px;
        height: 16px;
        left: 0px;
        top: 0px;
        font-family: 'Circular Std';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        /* identical to box height, or 133% */
        text-decoration-line: underline;
        /* Main */
        color: #8500D7;
        /* Inside Auto Layout */
        flex: none;
        order: 0;
        align-self: flex-start;
        margin: 10px 24px;
     }
     .produkterFooterMobile {
        position: static;
        width: 368px;
        height: 16px;
        left: 0px;
        top: 40px;
        font-family: 'Circular Std';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        /* identical to box height, or 133% */
        text-decoration-line: underline;
        /* Main */
        color: #8500D7;
        /* Inside Auto Layout */
        flex: none;
        order: 1;
        align-self: flex-start;
        margin: 10px 24px;
     }
     .kontaktFooterMobile {
        position: static;
        width: 368px;
        height: 16px;
        left: 0px;
        top: 80px;
        font-family: 'Circular Std';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        /* identical to box height, or 133% */
        text-decoration-line: underline;
        /* Main */
        color: #8500D7;
        /* Inside Auto Layout */
        flex: none;
        order: 2;
        align-self: flex-start;
        margin: 10px 24px;
     }
     .abonnementFooterMobile {
        position: static;
        width: 368px;
        height: 16px;
        left: 0px;
        top: 120px;
        font-family: 'Circular Std';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        /* identical to box height, or 133% */
        text-decoration-line: underline;
        /* Main */
        color: #8500D7;
        /* Inside Auto Layout */
        flex: none;
        order: 3;
        align-self: flex-start;
        margin: 10px 24px;
     }
     .logInnFooterMobile {
        position: static;
        width: 368px;
        height: 16px;
        left: 0px;
        top: 160px;
        font-family: 'Circular Std';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        /* identical to box height, or 133% */
        text-decoration-line: underline;
        /* Main */
        color: #8500D7;
        /* Inside Auto Layout */
        flex: none;
        order: 4;
        align-self: flex-start;
        margin: 10px 24px;
     }
     .personvernFooterMobile {
        position: static;
        width: 368px;
        height: 16px;
        left: 0px;
        top: 200px;    
        font-family: 'Circular Std';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        /* identical to box height, or 133% */
        text-decoration-line: underline;
        /* Main */
        color: #8500D7;
        /* Inside Auto Layout */ 
        flex: none;
        order: 5;
        align-self: flex-start;
        margin: 10px 24px;
     }
     .cookiesFooterMobile {
        position: static;
        width: 368px;
        height: 16px;
        left: 0px;
        top: 240px; 
        font-family: 'Circular Std';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        /* identical to box height, or 133% */
        text-decoration-line: underline;
        /* Main */
        color: #8500D7;
        /* Inside Auto Layout */
        flex: none;
        order: 6;
        align-self: flex-start;
        margin: 10px 24px;
     }
     .languageFooterMobile {
        position: static;
        width: 368px;
        height: 16px;
        left: 0px;
        top: 280px;
        font-family: 'Circular Std';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        /* identical to box height, or 133% */
        text-decoration-line: underline;
        /* Main */
        color: #8500D7;
        /* Inside Auto Layout */ 
        flex: none;
        order: 7;
        align-self: flex-start;
        margin: 10px 24px;
     }
     .frame27FooterMobile {
        display: flex;
        flex-direction: row;
        padding: 0px;
        position: absolute;
        width: 104px;
        height: 24px;
        left: 0px;
        top: 360px;
        /* Inside Auto Layout */
        flex: none;
        order: 9;
        align-self: flex-start;
        margin: 0px 12px;
     }
     .twitterFooterMobile {
        position: static;
        width: 18px;
        height: 18px;
        left: 0px;
        top: 0px;
        /* Inside Auto Layout */
        flex: none;
        order: 0;
        align-self: center;
        margin: 16px 15px;
     }
     .instagramFooterMobile {
        position: static;
        width: 18px;
        height: 18px;
        left: 40px;
        top: 0px;
        /* Inside Auto Layout */
        flex: none;
        order: 1;
        align-self: center;
        margin: 16px 15px;
     }
     .facebookFooterMobile {
        position: static;
        width: 18px;
        height: 18px;
        left: 80px;
        top: 0px;
        /* Inside Auto Layout */
        flex: none;
        order: 2;
        align-self: center;
        margin: 16px 15px;
     }
}